.wishlist-container{
    margin-top: 1rem; 
    margin:1rem; 
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; 
    align-items: center;
    margin-bottom: 1rem;  
}