@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --primary-color: rgb(97, 122, 85);
  /* --primary-color: #3b82f6; */
  --secondary-color: white;
  --background-color: rgb(214, 224, 209);
  --primary-font: "Playfair Display", serif;
  --nav-height:5rem;
}

.home {
  background-color: var(--background-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0 .5rem;
  height: var(--nav-height);

  position:sticky;
  top:0;
  z-index: 1000;
}

.left {
  font-family: "Crimson Text", serif;
  font-size: 3rem;
  margin: 1rem;
  padding-bottom: 0.5rem;
}
.main-title {
  text-decoration: none;
  color: var(--secondary-color);
}
.nav {
  color: var(--secondary-color);
}
.search-container {
  width: 50%;
  max-width: 400px;
  position: relative;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  margin: .2rem;
}
.nav-search {
  height: 40px;
  color: var(--primary-color);
}

.search-input {
  height: 40px;
  width: 100%;
  padding-left: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  outline: none;
}

.nav:hover{
  cursor: pointer;
  color: greenyellow;
}


.navbar-right {
  display: flex;
  justify-content: space-between;
  margin-right: .3rem;
}

.navbar-right .nav {
  margin-right: 10px;
}
.wishlistIcon , .cartIcon{
  position: relative;
}
.wishlist-popUp, .cart-popUp{
  position: absolute;
  bottom: 1rem;
  right: 0;
  background-color: lightgreen;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}


/* banner start */

.banner {
  background-image: url(/src/assets/images/rolex1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
  width: 100vw;
  position: relative;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.banner-text {
  text-align: left;
  margin-left: 10%;
  position: relative;
  z-index: 10;
}

.banner-text > p {
  font-family: "Playfair Display", serif;
  color: var(--secondary-color);
  font-size: 22px;
  font-weight: 500;
}

.banner-btn {
  color: white;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.banner-btn:hover {
  background-color: white;
  color: var(--primary-color);
  box-shadow: 2px 2px var(--primary-color);
}

/* category-container */

.category {
  padding: 1rem;
  margin: 1rem;
  font-weight: 500;
  color: var(--primary-color);
  font-size: 2rem;
  font-family: var(--primary-font);
}
.category-container {
  display: grid;
  gap: 1rem;
  margin: 1rem 2rem;
  padding: 0.5rem;
}

.category-card {
  background-color: white;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem var(--primary-color);
  transition: box-shadow 0.3s; /
}

.category-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
.category-card > img {
  height: 10rem;
}
.category-title {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (min-width: 600px) {
  .category-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media (max-width:786px){
  .header{
    height: 4rem;
    padding: 0;
  }
  .left{
    margin: .5rem;
  }
  .main-title {
    display: none;
  }
  
  .main-logo {
    display: block;
    margin-top: 1.5rem;
  }
}
@media (min-width:786px){
  .main-logo {
    display: none;
  }

}