
/* .productPage{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
} */

.productPage{
    display: grid;
    grid-template-columns: 300px 1fr;
gap: 0 3rem;
}

.productList{
    /* height: 200vh; */
    /* background-color: black; */
    border: 2px solid black;
}